<div class="nav">
  <h1>League of Legends - LOL Academy BR</h1>
</div>

<form novalidate [formGroup]="formulario" (ngSubmit)="pesquisar()">
  <div class="search">
    <span><i class="fas fa-search search__icon"></i></span>
    <input type="text" class="search__input" formControlName="nomeInvocador">
    <button class="search__button" type="submit" [disabled]="formulario.invalid">Pesquisar</button>
  </div>
</form>

<div class="main-data" *ngIf="invocador">
  <h2>{{ invocador?.nome }}</h2>
  <p>Lvl: {{ invocador?.level }}</p>
  <p>Liga {{ invocador?.liga }}</p>
  <img [src]="invocador?.icone" alt="Icone do invocador">
</div>
